<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Update User</title>
  </head>
  <body>
    <div>
      <form action="/user/<%= user.id %>?method=PUT" method="POST">
        <input type="text" placeholder="id" name="" value="<%= user.id %>">
        <input type="text" placeholder="first_name" name="first_name" value="<%= user.first_name %>">
        <input type="text" placeholder="email" name="email" value="<%= user.email %>">
        <input type="text" placeholder="password" name="password" value="<%= user.password %>">
        <input type="submit" value="Update">
    </form>
    </div>
  </body>
</html>